version: "3.9"

services:
  backend:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - src/.env       # <-- isso garante que todas as variáveis do .env vão pro container
    environment:
      - NODE_ENV=development
